# exclude
tools/anchors/**
tools/customScroll/**
tools/parallax/AdvancedParallax.js
demo/**/**

# docs
doc
docs

# tests
test
coverage

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

# linters
.jscsrc
.jshintrc
.eslintrc*
.estlintignore

# editor settings
.idea
.editorconfig